
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Card 01</h3>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate adipisci eveniet magnam quis eos rerum laboriosam asperiores nemo? Nostrum voluptatibus facilis accusantium tempora a. Sint tempore expedita, ea cupiditate accusamus reiciendis, ipsa placeat omnis impedit natus, sunt dolores molestias ducimus reprehenderit quasi rem qui magnam sit illum distinctio! Fugiat, doloribus.</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-primary" href="http://www.google.com">Más información...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="http://picsum.photos/500/500" alt="Imagen aleatoria">
                <div class="card-body">
                    <h4 class="card-title">Lorem, ipsum.</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                        odit!</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="http://www.google.com">Más información...</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img class="card-img-top" src="http://picsum.photos/500/500" alt="Imagen aleatoria">
                <div class="card-img-overlay">
                    <h4 class="card-title">Lorem, ipsum.</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                        odit!</p>
                </div>
                <div class="card-footer">
                    <a class="btn btn-secondary" href="http://www.google.com">Más información...</a>
                </div>
            </div>
        </div>
    </div>
</div>
