<div class="card mb-3">
    <div class="card-body">
        <div class="row">
            <div class="col text-center mb-3">
                <h1>[Logo]</h1>
            </div>
        </div>
        <div class="row">
            <div class="container mb-3">
                <input type="text" class="form-control form-control-lg" placeholder="Buscar titulo">
            </div>
        </div>
        <div class="row">
            <div class="container text-center">
                <div class="form-check form-check-inline m-1">
                    <input [(ngModel)]="radioSeleccionado" (change)="radioChangeEmmitter()" class="form-check-input"
                        type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Todos" checked>
                    <label class="form-check-label" for="inlineRadio1">Todos({{todos}})</label>
                </div>
                <div class="form-check form-check-inline m-1">
                    <input [(ngModel)]="radioSeleccionado" (change)="radioChangeEmmitter()" class="form-check-input"
                        type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Baile" checked>
                    <label class="form-check-label" for="inlineRadio1">Baile({{baile}})</label>
                </div>
                <div class="form-check form-check-inline m-1">
                    <input [(ngModel)]="radioSeleccionado" (change)="radioChangeEmmitter()" class="form-check-input"
                        type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Aventura">
                    <label class="form-check-label" for="inlineRadio2">Aventura({{aventura}})</label>
                </div>
                <div class="form-check form-check-inline m-1">
                    <input [(ngModel)]="radioSeleccionado" (change)="radioChangeEmmitter()" class="form-check-input"
                        type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Carreras">
                    <label class="form-check-label" for="inlineRadio3">Carreras({{carreras}})</label>
                </div>
                <div class="form-check form-check-inline m-1">
                    <input [(ngModel)]="radioSeleccionado" (change)="radioChangeEmmitter()" class="form-check-input"
                        type="radio" name="inlineRadioOptions" id="inlineRadio4" value="Deportes">
                    <label class="form-check-label" for="inlineRadio4">Deportes({{deportes}})</label>
                </div>
                <div class="form-check form-check-inline m-1">
                    <input [(ngModel)]="radioSeleccionado" (change)="radioChangeEmmitter()" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio5"
                        value="Disparos">
                    <label class="form-check-label" for="inlineRadio5">Disparos({{disparos}})</label>
                </div>
                <div class="form-check form-check-inline m-1">
                    <input [(ngModel)]="radioSeleccionado" (change)="radioChangeEmmitter()" class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio6"
                        value="Peleas">
                    <label class="form-check-label" for="inlineRadio6">Peleas({{peleas}})</label>
                </div>
            </div>
        </div>
    </div>
</div>